@page
@model soft20181_starter.Pages.Manage.ViewBookingsCountByEventModel
@{
    ViewData["Title"] = "Number of Users Booked per Event";
}


<br />
<br />

<div classs="event-details">
    <div class="details-details">

        <h2>View All Booking Details</h2>
        <table class="table">

            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Event Title</th>
                    <th scope="col">Number Of Users Booked</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < @Model.Events.Count; i++)
                {
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@Model.Events[i].Title</td>
                        <td>@Model.Counts[i]</td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>